USE [WebsiteBH]
GO
/****** Object:  Table [dbo].[tb_Brand]    Script Date: 11/11/2023 2:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Brand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nvarchar](100) NULL,
	[Slug] [varchar](100) NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdateOnUtc] [datetime] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 11/11/2023 2:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nvarchar](100) NULL,
	[Slug] [varchar](100) NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdateOnUtc] [datetime] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 11/11/2023 2:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[UserId] [int] NULL,
	[Status] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
 CONSTRAINT [PK_tb_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 11/11/2023 2:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Post]    Script Date: 11/11/2023 2:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
	[BrandId] [int] NULL,
	[CategoryId] [int] NULL,
	[UserId] [int] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 11/11/2023 2:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nvarchar](100) NULL,
	[CategoryId] [int] NULL,
	[ShortDes] [nvarchar](100) NULL,
	[FullDescription] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NULL,
	[PriceDiscount] [decimal](18, 2) NULL,
	[TypeId] [int] NULL,
	[Slug] [varchar](50) NULL,
	[BrandId] [int] NULL,
	[Deleted] [bit] NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdateOnUtc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Slider]    Script Date: 11/11/2023 2:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Slider](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Users]    Script Date: 11/11/2023 2:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Brand] ON 

INSERT [dbo].[tb_Brand] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdateOnUtc], [Deleted]) VALUES (1, N'Apple', N'apple.jpg', N'apple', 1, 1, CAST(N'2023-10-17T10:56:21.850' AS DateTime), CAST(N'2023-10-17T10:56:21.850' AS DateTime), 0)
INSERT [dbo].[tb_Brand] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdateOnUtc], [Deleted]) VALUES (2, N'Samsung', N'samsung.jpg', N'samsung', 1, 2, CAST(N'2023-10-17T10:56:21.850' AS DateTime), CAST(N'2023-10-17T10:56:21.850' AS DateTime), 0)
INSERT [dbo].[tb_Brand] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdateOnUtc], [Deleted]) VALUES (3, N'Xiaomi', N'xiaomi.jpg', N'xiaomi', 1, 3, CAST(N'2023-10-17T10:56:21.850' AS DateTime), CAST(N'2023-10-17T10:56:21.850' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tb_Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Category] ON 

INSERT [dbo].[tb_Category] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdateOnUtc], [Deleted]) VALUES (1, N'Điện thoại di động', N'mobile.jpg', N'dien-thoai', 1, 1, CAST(N'2023-10-17T10:56:30.403' AS DateTime), CAST(N'2023-10-17T10:56:30.403' AS DateTime), 0)
INSERT [dbo].[tb_Category] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdateOnUtc], [Deleted]) VALUES (2, N'Laptop', N'laptop.jpg', N'laptop', 1, 2, CAST(N'2023-10-17T10:56:30.403' AS DateTime), CAST(N'2023-10-17T10:56:30.403' AS DateTime), 0)
INSERT [dbo].[tb_Category] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdateOnUtc], [Deleted]) VALUES (3, N'Máy tính bảng', N'tablet.jpg', N'may-tinh-bang', 1, 3, CAST(N'2023-10-17T10:56:30.403' AS DateTime), CAST(N'2023-10-17T10:56:30.403' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

INSERT [dbo].[tb_Order] ([Id], [Name], [UserId], [Status], [CreatedOnUtc]) VALUES (1, N'DonHang03112023230344', 9, 0, CAST(N'2023-11-03T23:03:44.290' AS DateTime))
INSERT [dbo].[tb_Order] ([Id], [Name], [UserId], [Status], [CreatedOnUtc]) VALUES (2, N'DonHang03112023230348', 9, 0, CAST(N'2023-11-03T23:03:48.780' AS DateTime))
INSERT [dbo].[tb_Order] ([Id], [Name], [UserId], [Status], [CreatedOnUtc]) VALUES (3, N'DonHang04112023144611', 9, 0, CAST(N'2023-11-04T14:46:11.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] ON 

INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (1, 0, 2, 1)
INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (2, 1, 2, 1)
INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (3, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Post] ON 

INSERT [dbo].[tb_Post] ([Id], [Title], [Content], [CreatedOnUtc], [UpdatedOnUtc], [BrandId], [CategoryId], [UserId], [Deleted]) VALUES (1, N'hello', N'aloalo', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Post] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Slider] ON 

INSERT [dbo].[tb_Slider] ([SliderID], [Avatar]) VALUES (1, N'deal_1.jpg')
INSERT [dbo].[tb_Slider] ([SliderID], [Avatar]) VALUES (2, N'deal_2.jpg')
INSERT [dbo].[tb_Slider] ([SliderID], [Avatar]) VALUES (3, N'slider3.jpg')
SET IDENTITY_INSERT [dbo].[tb_Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Users] ON 

INSERT [dbo].[tb_Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (1, N'xuan', N'lap', N'lethixuanlap@gmail.com', N'8f3967438b1e4a70f8435b60a595532f', NULL)
INSERT [dbo].[tb_Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (2, N'Lê', N'Lân', N'lelanhoang1912@gmail.com', N'670b14728ad9902aecba32e22fa4f6bd', NULL)
INSERT [dbo].[tb_Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (3, N'asdad', N'asdsad', N'asdsad@gmail.com', N'670b14728ad9902aecba32e22fa4f6bd', NULL)
SET IDENTITY_INSERT [dbo].[tb_Users] OFF
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[tb_Brand] ([Id])
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[tb_Brand] ([Id])
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([Id])
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([Id])
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[tb_Users] ([Id])
GO
